*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins;
    src: url(../font-family/Poppins-Regular.otf);
}
@font-face {
    font-family: Roboto;
    src: url(../font-family/Roboto-Regular.ttf);
}
body{
   font-family: Poppins;
}
.payment_page{
    background: linear-gradient(117.46deg, #E8FDF3 -2.12%, #F6F3FC 19.72%);
    border-radius: 40px;
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 8px;
}
.leftside{
    max-width: 120px;
    width: 8%;
    padding: 24px;
}
.leftside_menu_icons{
    list-style: none;
    padding-left: 8px;
}
.leftside_menu_icons li a{
    display: block;
    padding: 26px 0px;
}
.leftside_menu_icons li a.home{
    border-right: 1.8px solid #23d381;
    padding: 8px 0px;
}
.notifications{
    position: relative;
}
.notifications_image{
    width: 19px;
    height: 19px;
    background-color: #BF1313;
    border-radius: 50px;
    position: absolute;
    top: 16px;
    left: 12px;
    text-align: center;
    font-size: 10px;
    color: #ffff;
    padding: 2px 0px;
}
.center{
    max-width: 960px;
    width: 66.4%;
    padding: 8px 24px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 34px;
    line-height: 51px;
    color: #262626;
}
.sub_title{
    font-size: 20px;
    line-height: 30px;
    color: #8C93A3;
}
.search {
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    width: 336px;
    height: 47px;
}
.search_image{
    position: relative;
    left: 38px;
    top: 6px;
}
.balancesheet{
   background: #FFFFFF;
   border-radius: 50px;
   padding: 24px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 909px;
   height: 176px;
   margin: 24px 0px 24px -10px;
}
.income_title{
    font-size: 19px;
    line-height: 28px;
    color: #8C93A3;
}
.income_price{
    font-weight: 600;
    font-size: 33px;
    line-height: 49px;
    color: #262626;
}
.income_percentage{
    font-size: 20px;
    line-height: 30px;
    color: #23D381;
}
.income_graph{
    width: 65.5px;
    height: 32.5px;
}
.expense_graph{
    width: 39.5px;
    height: 14.72px;
}
.bonus_graph{
    width: 88.5px;
    height: 32.26px;
}
.balancesheet_graph{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 32px 24px;
    width: 909px;
    height: 396px;
}
.count_ruppes{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.ruppes_k{
    font-size: 16px;
    line-height: 24px;
    color: #8C93A3;
    padding-left: 12px;
}
.graph_border{
    display: block;
    width: 775px;
    margin-left: 16px;
    border-top: 1px dashed #D7D7D9;
}
.graph_image{
    position: relative;
}
.full_graph{
    position: absolute;
    bottom: 28px;
    left: 45px;
}
.november_amount {
    background-color: #27CD83;
    width: 131px;
    height: 48px;
    border-radius: 50px;
    text-align: center;
    margin: -56px auto 0px;
}
.graph_recent_time{
    width: 31px;
    height: 31px;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    top: 8px;
    left: 12px;
}
.graph_recent_date{
    font-size: 12px;
    line-height: 14px;
    color: #263061;
    padding: 4px 0px 0px;
}
.graph_recent_secs{
    font-size: 6px;
    line-height: 7px;
    color: #8C93A3;
}
.graph_amount{
    margin: -24px 0px 0px 24px;
}
.down_arrow{
    padding: 7px;
}
.doller_amount{
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
}
.graph_date{
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
}
.days {
    display: flex;
    justify-content: space-around;
}
.day{
    font-size: 14px;
    line-height: 21px;
    color: #8C93A3;
}
.graph_orders{
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
}
.orders{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 24px 36px;
    width: 277px;
    height: 276px;
}
.order_heading,.graphs_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_title,.graphs_title{
    font-size: 22px;
    line-height: 33px;
    color: #262626;
}
.orders_count{
    font-size: 34px;
    line-height: 51px;
    font-weight: 600;
    color: #262626;
}
.order_bargraph{
    display: flex;
}
.first_border {
    display: block;
    background-color: #F3F3F3;
    width: 15px;
    height: 97px;
    border-radius: 10px;
    border-top: 1px solid #F3F3F3;
}
.inner_border_firstcircle{
    display: block;
    background-color: #FFA16B;
    border-radius: 10px;
    width: 15px;
    height: 54px;
    position: relative;
}
.second_border{
    display: block;
    background-color: #F3F3F3;
    width: 15px;
    height: 97px;
    margin: 0px 14px;
    border-radius: 10px;
    border-top: 1px solid #F3F3F3;
}
.third_border{
    display: block;
    background-color: #F3F3F3;
    width: 15px;
    height: 97px;
    margin: 0px 14px;
    border-radius: 10px;
    border-top: 1px solid #F3F3F3;
}
.fourth_border{
    display: block;
    background-color: #F3F3F3;
    width: 15px;
    height: 97px;
    margin: 0px 14px;
    border-radius: 10px;
    border-top: 1px solid #F3F3F3;
}
.fifth_border{
    display: block;
    background-color: #F3F3F3;
    width: 15px;
    height: 97px;
    margin: 0px 14px;
    border-radius: 10px;
    border-top: 1px solid #F3F3F3;
}
.inner_border_secondcircle{
    display: block;
    background-color: #FFA16B;
    border-radius: 10px;
    width: 15px;
    height: 54px;
    position: relative;
    top:36px;
}
.inner_border_thirdcircle{
    display: block;
    background-color: #FFA16B;
    border-radius: 10px;
    width: 15px;
    height: 54px;
    position: relative;
    top:24px;
}
.inner_border_fourthcircle{
    display: block;
    background-color: #FFA16B;
    border-radius: 10px;
    width: 15px;
    height: 54px;
    position: relative;
    top:8px;
    
}
.inner_border_fifthcircle{
    display: block;
    background-color: #FFA16B;
    border-radius: 10px;
    width: 15px;
    height: 54px;
    position: relative;
    top:32px;
}
.graphs{
    width: 601px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 24px 48px;
}
.total_expense {
    display: flex;
    justify-content: space-between;
}
.expense_cost_title{
    padding: 12px 0px;
    font-size: 17px;
    line-height: 25px;
    color: #8C93A3;
}
.expense_cost_amount{
    font-size: 34px;
    line-height: 51px;
    color: #262626;
    padding: 12px 0px;
}
.expense_percentage{
    width: 230px;
    font-size: 17px;
    line-height: 25px;
    color: #8C93A3;
}
.percentage_image{
    position: relative;
}
.percentage_circle{
    margin-top: -24px;
}
.percentage{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 34px;
    line-height: 51px;
}
.rightside{
    max-width: 340px;
    width: 23.6%;
}
.rightside_content{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 18px;
}
.rightside_profile {
    text-align: center;
}
.man_profile_image{
    background-color: #f6f3fc;
    border-radius: 50px;
}
.image_circle{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: red;
    display: block;
    position: relative;
    left: 165px;
    top: -40px;
}
.name {
    font-size: 22px;
    color: #262626;
    font-weight: 600;
}
.designation{
    font-size: 14px;
    line-height: 21px; 
    color: #8C93A3;
}
.profile_icons {
    display: flex;
    justify-content: center;
}
.messgaes_image,.calendar_image,.notification_image{
    display: block;
    width: 57px;
    height: 57px;
    padding: 14px;
    background-color: #F0F1FA;
    border-radius: 100px;
    margin: 16px 2px;
}
.recent_activites,.upcoming_events {
    padding: 12px 24px;
}
.recent_activites_title{
    font-size: 22px;
    font-weight: 700px;
    line-height: 33px;
    letter-spacing: -0.035em;
    color: #262626;
}
.recent_activites_subtitle{
    font-size: 14px;
    line-height: 21px;
    color: #8C93A3;
}
.recent_people {
    display: flex;
    align-items: center;
}
.people_image{
    background-image: url(../images/men_recent_image.png);
    width: 34px;
    height: 31px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #4A4949;
    border-radius: 50px;
    margin-top: -24px;
}
.qa_image,.pm_image{
    background-color: #F0F1FA;
}
.ba_image{
    background-color: #3aa171;
}
.recent_people_profile {
    padding: 12px 12px 4px;
}
.recent_people_name{
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #262626;
}
.recent_people_designation,.recent_time{
    font-size: 14px;
    line-height: 21px;
    color: #8C93A3;
}
.upcoming_event_date_box{
    width: 61px;
    height: 65px;
    background-color: #F5F6FB;
    border-radius: 20px;
}
.upcoming_evnet{
    display: flex;
    align-items: center;
    padding: 12px 0px;
}
.upcoming_event_calendar{
    padding: 6px 14px;
}
.upcoming_event_date{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #262626;
}
.upcoming_event_day{
    font-size: 13px;
    line-height: 19px;
    color: #909090;
}
.upcoming_event_scenario{
    padding: 0px 12px;
    font-size: 13px;
    line-height: 19px;
    color: #8C93A3;
}